body {
  padding: 1vw;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}

@media only screen and (max-width: 768px) {
  b {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  b {
    font-size: 10px;
  }
}
